body {
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  *{
      margin: 0;
      padding: 0;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 500;
      text-decoration: none;
      color: inherit;
      list-style: none;
  }
  
  header{
      position: relative;
      width: 100vw;
       height: 15vw;
       overflow: hidden;
  }
   
  header > h1{
      position: absolute;
      top: 1vw;
      left: 1vw;
      font-size: 5.5vw;
      color: white;
  }
  
  header > h1 > span:nth-child(2){
      
      color: #aedde3;
  }
  
   header > div:nth-child(1){
       position: absolute;
       top: 4vw;
       left: 0;
       background-color: #3b5491;
       width: 110vw;
       height: 30vw;
       transform: rotate(-3deg);
   }
  
   header > div:nth-child(2){
      position: absolute;
      bottom: 8vw;
      left: -2vw;
      background-color: #5f7ecb;
      width: 110vw;
       height: 30vw;
       transform: rotate(-4.5deg);
   }
  
  
  #navbar {
    overflow: hidden;
    background-color: #3b5491;
    width: 100vw;
  }

  #navbar > ul{
    display: flex;
    justify-content: flex-end;
}

#navbar > ul > li{
    padding: 0.3vw;
    transition: 500ms ease-in-out;
    color: white;
    padding-left: 3vw;
    padding-right: 3vw;
}

#navbar > ul > li:hover{
    background-color: #1d2a4869;
}

  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }